<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <!--<link rel="stylesheet" href="css.css" type="text/css">-->
    <link rel="stylesheet" href="http://static.mukewang.com/static/css/??base.css,common/common-less.css?t=2.5,course/common-less.css,course/view-less.css,course/learn-less.css,u/dynamic/home-less.css?v=2017031502358" type="text/css">
</head>

<body>
    <div id="main">
        <div class="course-infos">
            <div class="w pr" style="height: auto">
                <div class="path">
                    <span>慕课网</span>
                    <i class="path-split">\</i><span>{{location1}}</span>
                    <i class="path-split">\</i><span>{{location2}}</span>
                    <i class="path-split">\</i><span>{{name}}</span>
                </div>
                <div class="hd clearfix">
                    <h2 class="l">{{name}}</h2>
                </div>
            </div>
        </div>
        <div class="course-info-main clearfix w">
            <div class="content-wrap">
                <div class="content">
                    <div class="course-brief">
                        <p class="auto-wrap">
                            {{intro}}
                        </p>
                    </div>
                    <div class="mod-chapters">
                        {{content}}
                    </div>
                </div>
                <div class="aside r">
                    <div class="bd">
                        <div class="box mb40 js-usercard-box">
                            <h4>讲师提示</h4>
                            <div class="teacher-info">
                                <a href="#" target="_blank">
                                    <img data-userid="3877520" class="js-usercard-dialog" src="http://img.mukewang.com/545868b60001587202200220-80-80.jpg" width="80"
                                        height="80">
                                </a>
                                <span class="tit">
                            <span>{{teacher_name}}</span>
                                </span>
                                <span class="job">{{teacher_job}}</span>
                            </div>
                            <div class="course-info-tip">
                                <dl class="first">
                                    <dt>课程须知</dt>
                                    <dd class="autowrap">
                                        {{tip1}}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>老师告诉你能学到什么？</dt>
                                    <dd class="autowrap">
                                        {{tip2}}
                                    </dd>
                                </dl>
                            </div>
                            <div class="course-info-tip">
                                <dl class="first">
                                    <dt>抓取说明</dt>
                                    <dd class="autowrap">
                                        1、抓取课程：{{name}} 2、抓取内容：课程视频（MP4超清）
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>免责声明</dt>
                                    <dd class="autowrap">
                                        1、本存档均系网络收集，本存档仅提供一份离线学习的视频源文件，我们不对其内容的准确性、可靠性、正当性、安全性、合法性等负责，亦不承担任何法律责任； 2、所有作品的著作权均归慕课网（
                                        <a href="http://www.imooc.com/">http://www.imooc.com/</a>）及其相应讲师所有，请您和我们一样尊重他人的著作权等合法权益。
                                        3、本存档仅供您个人学习、研究或欣赏，不得用于商业或者其他用途；否则，一切后果均由您自己承担，我们对此不承担任何法律责任。 4、您应当对本存档的可靠性作出判断和评估，所有风险和责任由您独自承担。任何情况下，因使用或者信赖上述存档内容而可能遭致的意外、疏忽、侵权及其造成的一切直接或者间接的损失（包括因下载而感染电脑病毒），我们不承担任何法律责任。
                                        5、 对可能因第三方原因造成的互联网软硬件设备故障或失灵、或人为操作疏忽而全部或部分中断、延迟、遗漏、误导或造成资料传输或储存上的错误、或遭第三人侵入系统篡改或伪造变造资料等，我们均不承担任何责任。
                                        6、 如涉及侵犯版权等问题，请您及时通知，并出示身份证明、著作权权属证明及侵权情况证明，我们将立即采取措施予以解决。 7、 以任何直接或间接的方式获取、存储、使用包含本说明的存档资料，我们均视为您自愿接受并完全同意本声明。
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>